* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none !important;
}
ul {
    list-style: none;
}
body {
    font-family: Inter;
    background: #f5f5f7;
}
.container {
    max-width: 1600px !important;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}
button {
    font-family: Arial, Helvetica, sans-serif !important;
    background: transparent;
    border: none;
    cursor: pointer;
}
input {
    font-family: Inter;
}
